.todo-container{
    width: 320px;
    padding: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(23, 32, 28);
    border-radius: 5px;
}
.todo-parent{
    width:300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
   
}
.content{
   width: 100%;
   text-align: left;
}
.content h4 ,p{
    background-color: #5a5a5a6e;
    padding: .5rem;
    border-radius: .5rem;
}
.controls{
    display: flex;
    flex-direction: column;
    padding:.2rem;
    gap: 1.6rem;
}
.controls button{
   padding: .5rem;
   border: none;
   border-radius: 50%;
   background: #5a5a5a6e;
   cursor: pointer;
}